* {
    margin: 0;
    padding: 0;
}

body {
    margin: 4vh 25vw;
}

.dataframe {
    text-align: center;
}

table{
    width: 100%;
    background-color: #FFFFFF;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #7EA8F8;
    border-style: solid;
    color: #000000;
  }
  
  table td, table th {
    border-width: 2px;
    border-color: #7EA8F8;
    border-style: solid;
    padding: 5px;
  }
  
  table thead {
    background-color: #7EA8F8;
  }

.buttonchart {
  text-align: center;
  color: #000000;
  text-decoration: none;
  margin: 0 20vw;
  border: #000000 2px solid;
}